<?php

$user_def=array(); 
$user_def['1']=array();
$user_def['1']['token']='token_141022_1031';
$user_def['1']['client_id']='AfSbYRAe0Li9JullQ41NFRZrSlOyDrs_TnOzwmXio7uk8-0TOS86vYWXRsF-';

return $user_def;