<?php

$user_def=array(); 
$user_def['1']=array('token'=>'token_141022_1031',
                             'client_id'=>'AfSbYRAe0Li9JullQ41NFRZrSlOyDrs_TnOzwmXio7uk8-0TOS86vYWXRsF-',);

return $user_def;